{%extends 'dashboard.html'%}
{%block extrascript%}
{%load static%}
<script type="text/javascript" src="/static/bootstrapscripts/dropdown.js"></script>
{%endblock%}
{%block activeswap01%}
{%endblock%}
{%block activeswap}
{%block activeswap05%}
class="active"
{%endblock%}
{%block col10swap%}
	<div class="container">

<!-- Form Name -->
<legend>General Settings</legend>

 <div>
  <label class="col-md-5 control-label" for="textinput">Email-ID</label>  
  <div class="col-md-5">
choksi.jugal@gmail.com
</div>
</div><br><br>
<div>

<form action="/user/editsettings/" method='post'>
	{%csrf_token%}
<div>
  <label class="col-md-5 control-label" for="textinput">First Name</label>  
  <div class="col-md-5">
<input type="text" name="firstname" placeholder="First Name" pattern="[A-Za-z]{2,}" title="Enter only alphabets" class="form-control input-md">  
</div>
</div><br><br>
<div>
  <label class="col-md-5 control-label" for="textinput">Last Name</label>  
  <div class="col-md-5">
<input type="text" name="lastname" placeholder="Last Name" pattern="[A-Za-z]{1,}" title="Enter only alphabets" class="form-control input-md">  
</div>
<br><br>
</div>
<div>
<label class="col-md-5 control-label" for="textinput">Address</label>  
  <div class="col-md-5">
<textarea name="address" class="form-control input-md" rows="3" id="comment" placeholder="Address Line"></textarea> 
</div>
<br><br>
</div>
<div>
  <label class="col-md-5 control-label" for="textinput">Pincode</label>  
  <div class="col-md-5">
<input type="text" name="pincode" placeholder="eg. 380054" pattern="[\d]{6}" title="Enter valid pincode" class="form-control input-md">  
</div>
<br><br>
</div>

<div>
  <label class="col-md-5 control-label" for="textinput">Country</label>  
  <div class="col-md-5">
<select name="country" id="country" onchange="setStates();" class="form-control input-md">
  <option value="Canada">Africa</option>
  <option value="Mexico">Mexico</option>
  <option value="United States">United States</option>
</select></div>
<br><br>
</div>

<div>
  <label class="col-md-5 control-label" for="textinput">State</label>  
  <div class="col-md-5">
<select name="state" id="state" onchange="setCities();" class="form-control input-md">
  <option value="">State</option>
</select></div>
<br><br>
</div>

<div>
  <label class="col-md-5 control-label" for="textinput">City</label>  
  <div class="col-md-5">
<select name="city" id="city" class="form-control input-md">
  <option value="">City</option>
</select></div>
<br><br>
</div>

<div>
  <label class="col-md-5 control-label" for="selectbasic">Gender</label>
  <div class="btn-group col-md-5" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="radio" name="gender" id="male" autocomplete="off" > &nbsp;&nbsp;Male&nbsp;&nbsp;
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="gender" id="female" autocomplete="off">&nbsp;Female&nbsp;
  </label>
</div>
<br><br>
</div>
<div>
  <label class="col-md-5 control-label" for="textinput">D.O.B</label>  
  <div class="col-md-5">
<input name="dob" type="date" class="form-control input-md"></div>
<br><br>
</div>
	
<legend>
<br>
Change password
</legend>
<div class="form-group">
  <label class="col-md-5 control-label" for="passwordinput">Current Password</label>
  <div class="col-md-5">
    <input id="passwordinput" name="passwordinput" type="password" placeholder="Current Password" class="form-control input-md">
    
  </div>
</div>
<!-- Password input--><br><br>
<div>
  <label class="col-md-5 control-label" for="passwordinput">New Password</label>
  <div class="col-md-5">
<input type="password" class="form-control input-md" placeholder="Min 8 characters, 1 uppercase, 1 lowercase and a number" name="pw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">    
  </div>
</div>
<br><br>
<div>
  <label class="col-md-5 control-label" for="passwordinput">Re-enter New Password</label>
  <div class="col-md-5">
    <input id="passwordinput" name="passwordinput" type="password" placeholder="Re-enter password" class="form-control input-md">
    
  </div>
</div>
<br><br><br>

<!-- Select Basic -->



	
			<div class="col-md-5 control-label">
			</div>
			<div>
            <button type="submit" class="btn btn-success">Save Changes</button>
			<button id="singlebutton" type="reset" name="singlebutton" class="btn btn-danger">&nbsp;&nbsp;Clear Form&nbsp;&nbsp;</button>
			</div>
            <br>
          <br>
          <br>
          <div class="row"></div>
        </div>
</div>
		</form>
</div>

{%endblock%}



