<!DOCTYPE html>
<html>
<head>
	<title>
	{% load static %}
	<link rel="icon" type="img/png"href="{%static "images/favicon.png"%}"alt=""/>
	Home
	</title>
	{%block bootstrapscript%} 	
	<!-- css style-sheet -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jquery script -->
	<script src="https://ajax.googleapis.com"></script>
	<!-- jS  -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
