{%extends 'dashboard.html'%}
{%load static%}
{%block activeswap01%}
{%endblock%}
{%block bodyhead%}
        <font size="250" align=right>
                <img src="{% static "images/favicon.png"%}" height="140" width="140" alt=""/>
                <p>Search Results</p>                            
          </font>

{%endblock%}
{%block whosewish%}
{%endblock%}
{%block tableswap%}
{%if searchresult%}
<div class="pre-scrollable">
<ul>
  {%for user in searchresult%}
  <li><h4><a href="/view/{{user.username}}/">{{user.username}}</a></h4></li>
  {%endfor%}
  </ul>
</div>
     
{%else%}
  
<p>
  <h4>
    Try Searching for someone in our records.
</h4>
</p>
{%endif%}
{%endblock%}
{%block wishformswap%}
{%endblock%}
